.settings/
.nedexclusions
.oppfeaturestate
.venv/
.devcontainer/
.vscode/
.dockerignore
Makefile
out/
datasets/
simulations/**/run
src/Makefile
src/uav-rid*
src/**/*_m.cc
src/**/*_m.h
**/.cmdenv-log
**/.qtenvrc
**/.tkenvlog
**/.tkenvrc
**/cache/
**/results/
__pycache__
.pytest_cache/
tests/__pycache__/
tests/out/
simulations/spoofing_aware_with_planning/batches/
simulations/spoofing_aware_with_planning/sweeps/
simulations/spoofing_aware_with_planning/batches_imm_grid_balanced
logs
simulations/spoofing_aware_with_planning/prev
simulations/spoofing_aware_with_planning/batches_mdp_grid_12x1_validate_top3
simulations/spoofing_aware_with_planning/batches_imm_grid_balanced
simulations/spoofing_aware_with_planning/batches_mdp_grid_12x1_benign_focus
simulations/spoofing_aware_with_planning/batches_force_detect_5s/
simulations/spoofing_aware_with_planning/batches_imm_best_verify/
simulations/spoofing_aware_with_planning/batches_imm_global_tune/
simulations/spoofing_aware_with_planning/batches_imm_global_tune_v3/
simulations/spoofing_aware_with_planning/batches_30seed_straight