.settings/
.nedexclusions
.oppfeaturestate
.venv/
.devcontainer/
.vscode/
.dockerignore
Makefile
out/
datasets/
simulations/**/run
src/Makefile
src/uav-rid*
src/**/*_m.cc
src/**/*_m.h
**/.cmdenv-log
**/.qtenvrc
**/.tkenvlog
**/.tkenvrc
**/cache/
**/results/
__pycache__
.pytest_cache/
tests/__pycache__/
tests/out/
simulations/spoofing_aware_with_planning/batches/
simulations/spoofing_aware_with_planning/sweeps/
simulations/spoofing_aware_with_planning/batches_imm_grid_balanced
logs
simulations/spoofing_aware_with_planning/prev