.settings/
.nedexclusions
.oppfeaturestate
.venv/
.devcontainer/
.vscode/
.dockerignore
Makefile
out/
datasets/
simulations/**/run
src/Makefile
src/uav-rid*
src/**/*_m.cc
src/**/*_m.h
**/.cmdenv-log
**/.qtenvrc
**/.tkenvlog
**/.tkenvrc
**/cache/
**/results/
__pycache__